{% extends 'base.html' %}

{% block content %}

    <div class="d-sm-flex align-items-center justify-content-between mb-2 mt-2">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i>
            Download batch Info</a>
    </div>
    <div class="container-fluid active px-lg-4">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card pl-lg-1">
                <div class="card-body">
                    <form action="" method="post">
                        <div class="form-group">
                            {% csrf_token %}
                            {{ form.as_table }}
                        </div>
                        <input type="submit" value="save record" name="save"
                               class="btn btn-primary"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script>

        let elem = document.getElementById('vaccinations')
        elem.classList.add('active')
    </script>
{% endblock scripts %}