<nav class="fixed-top align-top" id="sidebar-wrapper" role="navigation">
    <div class="simplebar-content" style="padding: 0px;">
        <a class="sidebar-brand" href="#">
            <span class="align-middle">Out Growers</span>
        </a>

        <ul class="navbar-nav align-self-stretch">


            <li class="">
                <a id="dashboard" href="{% url 'dashboard_view' %}" class="nav-link text-left " role="button"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="flaticon-bar-chart-1"></i> Dashboard
                </a>
            </li>
            <li class="">
                <a id="farms" href="{% url 'farms_view' %}" class="nav-link text-left " role="button"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="flaticon-bar-chart-1"></i> Farms
                </a>
            </li>
            <!--
            <li class="">
                <a id="houses" href="{% url 'houses_view' %}" class="nav-link text-left " role="button"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="flaticon-bar-chart-1"></i> Houses
                </a>
            </li>
            <li class="">
                <a id="owners" href="{% url 'owners_view' %}" class="nav-link text-left " role="button"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="flaticon-bar-chart-1"></i> Owners
                </a>
            </li>
            <li class="">
                <a id="flocks" href="{% url 'flocks_view' %}" class="nav-link text-left " role="button"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="flaticon-bar-chart-1"></i> Flocks
                </a>
            </li>
            -->
            <li class="">
                <a id="vaccinations" href="{% url 'vaccinations_view' %}" class="nav-link text-left " role="button"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="flaticon-bar-chart-1"></i> Vaccinations
                </a>
            </li>
            <li class="">
                <a id="records" href="{% url 'records_view' %}" class="nav-link text-left " role="button"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="flaticon-bar-chart-1"></i> records
                </a>
            </li>





            <li class="">
                <a id="settings" class="nav-link text-left" role="button">
                    <i class="flaticon-bar-chart-1"></i> settings
                </a>
            </li>


        </ul>


    </div>


</nav>